<div
    class="p-8 border-2 border-black bg-purple-300 w-[350px] sm:w-1/2 md:w-1/4 lg:w-1/4 xl:w-1/4 h-[400px] rounded-xl shadow-[6px_6px_0_0_#000000] transform duration-700 opacity-0 translate-y-20 delay-200"
    data-view="!opacity-100 !translate-y-0">
    <!-- Service Card 1 -->
    <div class="grid grid-cols-1 items-center gap-4 sm:gap-8 order-1">
        <div
            class="relative flex items-center justify-center w-20 h-20 max-sm:mb-2 text-black p-6 bg-yellow-300 rounded-lg border-2 border-black shadow-[6px_6px_0_0_#000000]">
            <!-- icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
            class="bi bi-palette2" viewBox="0 0 16 16">
            <path
                d="M0 .5A.5.5 0 0 1 .5 0h5a.5.5 0 0 1 .5.5v5.277l4.147-4.131a.5.5 0 0 1 .707 0l3.535 3.536a.5.5 0 0 1 0 .708L10.261 10H15.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5H3a2.99 2.99 0 0 1-2.121-.879A2.99 2.99 0 0 1 0 13.044m6-.21 7.328-7.3-2.829-2.828L6 7.188v5.647zM4.5 13a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0M15 15v-4H9.258l-4.015 4zM0 .5v12.495z" />
            <path d="M0 12.995V13a3.07 3.07 0 0 0 0-.005" />
            </svg>
        </div>
        <div class="grid grid-cols-1 items-center text-left">
            <h3 class="text-xl font-semibold mb-1 md:mb-2">{{ discipline.name }}</h3>
            <hr class="h-1 my-2 bg-blue-700 border-0 w-1/3">
            <p class="text-gray-700">{{ discipline.description }}</p>
        </div>
    </div>
</div>

