<footer class="bg-black text-white py-8">
    <section class="text-white py-16">
        <div class="container px-4 lg:px-8 mx-auto">
          <div class="text-center transform duration-1000 opacity-0 scale-75 delay-100"
            data-view="!opacity-100 !scale-100">
            <h2 class="text-3xl font-bold mb-4">Inscrivez-vous</h2>
            <p class="text-lg mb-8">En vous inscrivant vous acceptez notre Politique de confidentialité afin que nous puissions traiter vos données collectées et vous proposer des contenus personnalisés.</p>
  
            
            <form class="relative inline-flex flex-row items-center justify-center gap-x-4 rounded font-bold text-lg tracking-[.00714em] border-2 border-black">
                <div class="max-w-xl">
                  <div class="flex space-x-4">
                    <div class="flex rounded-md overflow-hidden w-full">
                      <input type="text" class="p-2 w-full rounded-md rounded-r-none text-black" placeholder="Your Email"/>
                      <button class="bg-blue-400 text-white px-6 text-lg font-semibold py-4 rounded-r-md">Soumettre</button>
                    </div>
                  </div>
                </div>
            </form>
          </div>
        </div>
    </section>
    <div class="container px-4 lg:px-8 mx-auto">
        <div class="flex flex-col max-md:text-center md:flex-row max-md:justify-center gap-8 md:justify-between">
          <nav class="flex flex-col sm:flex-row max-md:mx-auto">
            <a href="#" class="max-sm:py-2 px-2">Privacy Policy</a>
            <a href="#" class="max-sm:py-2 px-2">Terms of Use</a>
            <a href="#" class="max-sm:py-2 px-2">Guideline</a>
          </nav>
          <p>Laser &copy; 2024 | For contacting us: <a href="mailto:{{contactEmail}}">{{ contactEmail }}</a></p>
        </div>
      </div>
</footer>