<section class="text-black py-16">
    <div class="container px-4 lg:px-8 mx-auto">
        <div class="text-center transform duration-1000 opacity-0 scale-75 delay-100"
            data-view="!opacity-100 !scale-100">
            <h2 class="text-3xl font-bold mb-4">DES DISCIPLINES POUR CHOISIR DE FORMATION</h2>
            <p class="text-lg mb-8">La Wild Code School propose des formations à temps plein et en alternance. 
                Du débutant déterminé au pro avancé, repousser vos limites à travers la formation de votre choix.</p>
            <div class="flex flex-wrap justify-center gap-8">
                {% for discipline in disciplines %}
                {% include 'Item/card_dis.html.twig' with {'discipline': discipline} %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>