<section id="hero" class="relative bg-neutral-100 border-b-2 border-black overflow-hidden z-0">
    <div id="particles-js" class="absolute inset-y-0 right-auto left-0 h-full w-full bg-[#2196f3]"></div>
    <!-- background overlay -->
    {# <div style="background-image: url(src/img/cartographer.png);"
      class="absolute top-0 right-0 left-auto w-full md:w-1/2 h-full bg-[#02d1c3]" style="z-index:-1;"></div> #}

    <div class="container px-4 lg:px-8 mx-auto">
        <!-- row -->
        <div class="grid grid-cols-1 items-center">

        <!-- hero content -->
            <div class="order-1 xl:pr-12 xl:py-16">
                <div
                    class="text-left lg:mr-8 py-16 md:pb-0 lg:py-16 transform duration-1000 opacity-0 translate-y-8 delay-100 w-2/3"
                    data-view="!opacity-100 !translate-y-0">
                    <h1 class="text-4xl lg:text-5xl leading-tight font-bold text-white mb-6">FORMEZ-VOUS AUX METIERS QUI RECRUTENT</h1>
                    <p class="text-gray-200 leading-relaxed font-light text-xl mx-auto mb-8">Nous sommes une structure d'enseignement privée, nous  proposons à nos candidats des 
                        formations opérationnelles et concrètes dans des secteurs d'activités variés.</p>

                    <a class="py-3 px-4 relative inline-flex flex-row items-center justify-center gap-x-2 rounded font-bold text-lg tracking-[.00714em] border-2 border-black hover:-translate-y-0.5 transform duration-200 shadow-[4px_4px_0_0_#000000] focus:-translate-y-0.5 bg-yellow-300 text-black"
                    href="#">
                    Choisir sa formation
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                    </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="border-b-2 border-black">
    <div class="marquee py-3 text-2xl font-bold w-full">
      <a href="#">Bienvenue chez Oxygen School. Formez-vous avec notre formations!</a>
    </div>
</section>