{% extends 'layout.html.twig' %}

{% block content %}
    <main class="overflow-hidden">
        {% include 'Home/hero.html.twig' %}
        {% include 'Home/formation.html.twig' with {'disciplines': disciplines} %}
        
        {# {% include 'Home/portfolio.html.twig' %}
        {% include 'Home/testimonials.html.twig' %}
        {% include 'Home/contact.html.twig' %} #}
    </main>
{% endblock %}
