<section class="intro-01">
    <div class="card-2 card-brutal">
        <h2>
            Pourquoi choisir de se former à Oxygen School ?
        </h2>
        <p>
            Oxygen School vous accompagne afin que vous soyez opérationnel à
            l'issue de votre formation, avec du coaching et de
            l’accompagnement tout le long de la formation.
        </p>
        <p>
            Nous proposons à nos candidats des formations diplomantes coachées
            par des experts. Notre pédadagogie est basée sur la pratique. Nos
            candidats travaillent sur des cas réels issus du milieu
            professionnel.
        </p>
    </div>
    <img
        class="img-intro-01"
        loading="eager"
        alt="intro-01"
        src="/assets/images/intro-01.png"
    />
</section>
<section class="intro-02">
    <div class="star-container">
        <div data-animation="heartBeat" class="star-02">
            <img
                class="img-star-02"
                loading="eager"
                alt="star-02"
                src="/assets/images/star-intro.png"
            />
            <p>4.8/5</p>
            <h3>Satisfaction de nos élèves</h3>
        </div>
        <div data-animation="heartBeat"  class="star-02">
            <img
                class="img-star-02"
                loading="eager"
                alt="star-02"
                src="/assets/images/star-intro.png"
            />
            <p>84%</p>
            <h3>Taux de retour à l’emploi</h3>
        </div>
        <div data-animation="heartBeat" class="star-02">
            <img
                class="img-star-02"
                loading="eager"
                alt="star-02"
                src="/assets/images/star-intro.png"
            />
            <p>93%</p>
            <h3>Obtention de certifications</h3>
        </div>
    </div>
</section>