.card-dis {
    max-width: 20rem;
    max-height: 20rem;
    overflow: hidden;
    padding: 2rem; 
    background-color: var(--pri-violet); 
    width: 350px;
    height: 400px;
}

.card-dis .card-dis-container {
    display: grid;
    order: 1; 
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    gap: 0.25rem; 
    align-items: left; 
}

.card-dis .card-dis-container .icon-dis {
    width: 56px;
    height: 56px;
    background-color: var(--pri-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-dis .card-dis-container .icon-dis i {
    font-size: 1.5rem;
}

.card-dis .card-dis-container .card-dis-content {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    align-items: left;
    justify-content: left;
    text-align: left; 
}

.card-dis .card-dis-container .card-dis-content h3 {
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin-right: 50%;
    border-bottom: solid 2px var(--secondary);
}

.card-dis .card-dis-container .card-dis-content p {
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 400;
    color: var(--gray);
}

.card-dis .card-dis-container a {
    font-weight: 700;
    width: 7rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* Animation begin */

[data-animation] {
    opacity: 0;
}

[data-animation].animate {
    opacity: 1;
}

[data-animation]:nth-child(1) {
    animation-delay: 100ms;
}

[data-animation]:nth-child(2) {
    animation-delay: 300ms;
}

[data-animation]:nth-child(3) {
    animation-delay: 600ms;
}

[data-animation]:nth-child(4) {
    animation-delay: 900ms;
}

[data-animation]:nth-child(5) {
    animation-delay: 1200ms;
}

@media (max-width: 768px) {
    [data-animation] {
        animation: none;
    }
}