<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.png">

    <title>{% block title %}{{ name }}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>

    <script src="https://kit.fontawesome.com/b51dcfdd20.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500;900&amp;display=swap" rel="stylesheet">

    {% block stylesheet %}{% endblock %}
</head>

<body class="bg-gray-100 pt-[96px]">
    {% include 'Item/navbar.html.twig' %}
    {% block content %}{% endblock %}

    {% include 'Item/footer.html.twig' %}
    {% include 'Item/btnbacktotop.html.twig' %}
    {% block javascript %}{% endblock %}
    <script src="/assets/js/script.js"></script>
</body>
</html>


