<div class="applicant-line">
    <img src="{{ message.avatar_image }}" alt="profile">
    <div class="applicant-info">
      <span>{{ message.firstName }} {{ message.lastName }}</span>
      <p class="message-subtext">{{ message.message }}</p>
    </div>
</div>