<nav class="main-menu">
    <div>
      <div class="user-info">
        <a href="/admin">
            <img src="/assets/images/favicon.png" alt="logo" />
            <p>Oxygen Dashboard</p>
        </a>
      </div>
      <ul class="nav-list">
        <li class="nav-item active">
          <a href="/admin/discipline">
            <i class="fa-solid fa-layer-group"></i>
            <span class="nav-text">Discipline</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="/admin/formation">
            <i class="fa-solid fa-calendar-week"></i>
            <span class="nav-text">Formation</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="/admin/student">
            <i class="fa-solid fa-users"></i>
            <span class="nav-text">Students</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="/admin/message">
            <i class="fa-solid fa-comments"></i>
            <span class="nav-text">Message</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="#">
            <i class="fa-solid fa-heart"></i>
            <span class="nav-text">Favorites</span>
          </a>
        </li>
      </ul>
    </div>

    <ul class="nav-list">
      <li class="nav-item">
        <a href="#">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="nav-text">Logout</span>
        </a>
      </li>
    </ul>
</nav>