.parag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 17rem;
    padding-right: 17rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    font-size: 20px;
    font-family: var(--principalFontFamily);
    color: var(--thirdColor);
}

.center {
    display: flex;
    padding-top: 1.5rem;
    padding-left: 17rem;
    padding-right: 17rem;
    margin: 0 auto;
    font-size: 2.5rem;
    color: rgb(89, 150, 237);
    font-family: var(--principalFontFamily);

}

.info {
    border: solid #32a1ce;
    border-radius: 90px;
    color: rgb(10, 10, 10);
    display: block;
    gap: 13px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 17rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin-right: 20rem;
    font-size: 26px;
    background-color: #ffffff;
}

.text {
    font-size: 15px;
    font-family: var(--principalFontFamily);
    color: var(--thirdColor);
    font-display: center;
}

.img {
    float: left;
    padding-left: 2rem;
    padding-right: 5rem;
    padding-top: 0.5rem;
}

.img1 {
    display: flex;
    align-items: center;
    justify-content: center;


}

.coord {
    font-weight: bold;
}


.bloc {

    padding-left: 17rem;
    padding-right: 17rem;

}

.team {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    margin-left: 18rem;
    padding-right: 35rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}



.member-cards {
    border: solid #b3ebf8;
    border-radius: 90px;
    color: rgb(10, 10, 10);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-top: 2rem;
    font-size: 26px;
    background-color: #f4f9f9;


}



form {
    width: 100%;
    padding-left: 17rem;
    padding-right: 17rem;
}

.input_form {
    border: 2px solid rgb(173, 218, 247);
    width: 100%;
    padding-left: 1rem;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}



label {
    font-size: 20px;
    font-style: italic;
    font-family: var(--principalFontFamily);
    color: rgb(33, 17, 97);
    font-display: center;
    padding-right: 3rem;
}

button {
    display: inline-block;
    background-color: rgb(173, 218, 247);
    border: 2px solid rgb(50, 162, 237);
    border-radius: 15px;
    color: rgb(0, 0, 10);
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: 50%;
    margin-left: 15rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}