footer {
    transform: translateY(40px);
    background-color: black;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}


ul {
    list-style: none;
}

footer p {
    color: rgb(254, 255, 255);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    justify-self: center;
}

footer .footer-title {
    font-size: 28px;
    font-weight: 600;
}

footer .footer {
    display: grid;
    align-items: center;
    justify-content: center;
}

.footer .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

.form-footer{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.00714em;
    border: 2px solid #000;
    border-radius: 8px;
}

.form-footer input[type="text"] {
    padding: 8px;
    width: 100%;
    border-radius: 8px 0 0 8px;
    color: #000;
}

.form-footer button {
    background-color: #00f;
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0 8px 8px 0;
}

/* Additional styles for button hover effect */
.form-footer button:hover {
    background-color: #0056b3; /* darker shade of blue */
}


.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 5rem;
}

.footer-bottom .picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#social {
    margin: 0;
    color: #60A5FA;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#social i {
    font-size: 25px;
    cursor: pointer;
}

.footer-bottom img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.footer-cards {
    display: grid;
    gap: 13px;
}

.footer-cards h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-cards a {
    text-decoration: none;
}

.footer-cards a:hover {
    color: #60A5FA;
}


@media screen and (min-width: 500px) and (max-width: 1050px) {
    footer {
        flex-direction: column;
        padding: 1rem 0;
        height: auto;
    }


    #footer-cards {
        margin: 3rem 0;
    }
}

@media screen and (max-width: 500px) {
    footer {
        flex-direction: column;
        padding: 1rem 0;
        height: auto;
    }

    .footer-cards {
        display: none;
    }


    #social {
        display: flex;
        flex-wrap: wrap;
    }
}
