* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f7f7f7;
    --font-family: 'Roboto', sans-serif;
    --font-size: 1.4rem;
    --link-color: #ffffff;
    --black-color: #000000;
    --font-weight: bold;
    --border-radius: 5px;
    --font-bolder: 700;
}


/* navbar for mobile */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-size: var(--font-size);
}

.description {
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url("assets\images\oxygen-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 69vh;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: max-content;
    font-weight: var(--font-bolder);
    font-family: var(--font-family);
    margin-right: 1.3rem;
}

.navbar_list a {
    margin-right: 1rem;
}

.navbar_img {
    position: relative;
    left: 2%;
    top: 10%;
}

.navbar_img img {
    width: 100%;
    height: auto;
}

.header__description {
    position: relative;
    bottom: 15%;
    margin: 5% auto;
    padding: 2rem;
}

.header-components {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    transform: translateY(-12%);
}

.top-components,
.bottom-components {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom-components {
    margin-top: 2rem;
}

.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    height: 100%;
    padding: 1.3rem;
    margin: 20px;
    background-color: var(--primary-color);
    border-radius: 1px;
    transition: all 0.34s ease-in-out;
    font-family: var(--font-family);
}

.component:hover {
    background-color: #30aaf1;
    color: white;
}

.component h2,
.component p {
    width: 100%;
}

.component p {
    text-align: justify;
}

.component span {
    display: flex;
    place-content: center;
    position: relative;
    right: 42%;
    bottom: 20px;
    background-color: #23A6F0;
    padding: 0.45rem;
    border-radius: var(--border-radius);
}

.component span i {
    font-size: 2rem;
    color: white;
}

@media screen and (max-width: 768px) {
    header {
        height: 50vh;
    }
    header nav img {
        margin: 0 auto;
    }
    .navbar_list a,
    .navbar_list {
        display: none;
    }
    .component {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 30%;
        height: 100%;
        padding: 1.3rem;
        margin: 20px;
        background-color: var(--primary-color);
        border-radius: 1px;
    }
    .header__description {
        position: relative;
        bottom: 5%;
    }
    .header__description h1 {
        font-size: 1rem;
        text-align: center;
    }
    .header__description p {
        font-size: 1rem;
        text-align: justify;
        margin-top: 10%;
    }
}

@media screen and (max-width: 908px) {
    header {
        height: 50vh;
    }
    header nav img {
        margin: 0 auto;
    }
    .navbar_list a,
    .navbar_list {
        display: none;
    }
    .component {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 30%;
        height: 100%;
        padding: 1.3rem;
        margin: 20px;
        background-color: var(--primary-color);
        border-radius: 1px;
    }
    .header__description {
        position: relative;
        bottom: 5%;
    }
    .header__description h1 {
        font-size: 1rem;
        text-align: center;
    }
    .header__description p {
        font-size: 1rem;
        text-align: justify;
        margin-top: 10%;
    }
}