<div class="card-review">
    <i class="fa-solid fa-quote-left"></i>
    <p class="std-mess">discipline.description</p>
    
    <div class="user-container">
        <img class="user-ava" src="https://media.licdn.com/dms/image/D4E03AQGj9nhRHrjBzQ/profile-displayphoto-shrink_800_800/0/1684840480045?e=1712188800&v=beta&t=Y_dABFY94yxvlDfcQT7XR3X2_onGQlIdKh66PcS_v-c" alt="avatar">
        <div class="user-info">
            <h3>Name</h3>
            <p>Degree</p>
        </div>
    </div>
</div>