<div class="card-review">
    <i class="fa-solid fa-quote-left"></i>
    <p class="std-mess">{{ review.testimonial }}</p>
    
    <div class="user-container">
        <img class="user-ava" src='{{ review.avatar_image }}' alt="avatar">
        <div class="user-info">
            <h3>{{ review.firstName }}</h3>
            <p>{{ review.degree }}</p>
        </div>
    </div>
</div>