<section class="swiper2 formation">
    <div class="swiper-wrapper card-container">
        {% for discipline in disciplines %}
            <div class="swiper-slide">
                {% include 'components/home/card-dis.html.twig' with {'discipline': discipline} %}
            </div>
        {% endfor %}
    </div>
</section>