<h2 class="center">Contactez-nous</h1>    
<p class="parag">Vous avez besoin de renseignements supplémentaires concernant nos formations ?, n'hésitez pas à nous contacter. Nos conseillers formations sont disponibles du
 lundi au vendredi, de 9h à 19h.</p>

<form action="" method="post" class="form">
                
                <div>
                    <label for="firstName">Votre prénom : *</label>
                    <input id="firstName" class="input_form" type="text" name="firstName" placeholder="Marc"/>
                </div>
                <div>
                    <label for="lastName">Votre nom : *</label>
                    <input id="lastName" class="input_form" type="text" name="lastName" placeholder="Ducas"/>
                </div>
                <div>
                    <label for="email">Votre adresse mail : *</label>
                    <input id="mail" class="input_form" type="email" name="email" placeholder="marc@gmail.com"/>
                </div>
                <div>
                    <label for="phone">Votre numéro de téléphone : *</label>
                    <input id="subject" class="input_form" type="text" name="topic" placeholder="01 60 60 60 60"/>
                </div>
                <div>
                    <label for="message">Votre message : *</label>
                    <textarea class="input_form" id="message" rows="5" name="message"></textarea>
                </div>
                <div id="validationCheck">
                    <input class="validation" type="checkbox" name="validation" id="validation" />
                    <label class="labelMod" for="validation">J'ai lu la Politique de protection des données, 
                    les mentions légales et en soumettant ce formulaire, j'accepte d'être recontacté(e) par Oxygen School.* </div>

                <div id="validationButton">
                    <button name="envoyer" id="button" type="submit">Envoyer</button>
                </div>
            </form>

