<footer>
    <div class="footer">
        <div class="footer-top">
            <p class="footer-title">Inscrivez-vous</p>
            <p>En vous inscrivant vous acceptez notre Politique de confidentialité afin que nous puissions
                traiter vos données et proposer des contenus personnalisés.</p>
            <form action="#">
                <input type="search" name="src">
                <button type="submit">Soumettre</button>
            </form>
        </div>
        <div class="footer-bottom">
            <div class="picture">
                <img src="public\img\oxygen_school_logo.png" alt="oxygen-school">
            </div>
            <div class="footer-cards">
                <p>Oxygen school</p>
                <a href="#">À propos</a>
                <a href="#">Contact</a>
                <a href="#">Recrutement</a>
                <a href="#">Blog</a>
            </div>
            <div class="footer-cards">
                <p>Nos Disciplines</p>
                <a href="#"> Informatique</a>
                <a href="#">Finance</a>
                <a href="#">Marketing</a>
                <a href="#">Santé</a>
            </div>
            <div class="footer-cards">
                <p>Nos campus</p>
                <a href="#">Paris</a>
                <a href="#">Lille</a>
                <a href="#">Toulouse</a>
            </div>
        </div>
    </div>
</footer>