<footer>
    <div class="footer">
        <div class="footer-top">
            <p class="footer-title"> Oxygen School : Le chemin de la réussite</p>
            <p>Inscrivez-vous à une formation dans le domaine qui recrute et profitez d'un
                accompagnement jusqu’à l’embauche pour une insertion réussie</p>

        </div>
        <div class="footer-bottom">
            <div class="picture">
                <img src="assets\images\oxygen_school_logo.png" alt="oxygen school">
            </div>

            <div class="footer-cards">
                <h3>Oxygen school</h3>
                <a>À propos</a>
                <a>Contact</a>
                <a>Recrutement</a>
                <a>Blog</a>
            </div>
            <div class="footer-cards">
                <h3>Nos Disciplines</h3>
                <a> Informatique</a>
                <a>Finance</a>
                <a>Marketing</a>
                <a>Santé</a>
            </div>
            <div class="footer-cards">
                <h3>Nos campus</h3>
                <a>Paris</a>
                <a>Lille</a>
                <a>Toulouse</a>
                <a>Strasbourg</a>
            </div>

        </div>

        <ul id="social">

            <li> <a href="https://www.instagram.com/"><img src="assets/images/instagram.png" alt="instagram logo" /></a>
            </li>

            <li><a href="https://twitter.com/"><img src="assets/images/twitter.png" alt="twitter logo" /></a></li>

            <li><a href="https://www.facebook.com/"><img src="assets/images/facebook.png" alt="facebook logo" /></a>
            </li>
        </ul>
    </div>

    </div>
    </br>
    © 2024 Oxygen School. | Tous droits réservés.

</footer>