
    <!--navbar-->
    <nav>
        <img class="navbar_img" src="assets\images\oxygen-logo.png" alt="">
      
        <ul class="navbar_list">
            <li><a href="">Accueil</a></li>
            <li><a href="">Formations</a></li>
            <li><a href="">favoris</a></li>
            <li><a href="">Contact</a></li>

        </ul>
    </nav>

    <!--end navbar-->

    <!--description and title-->
    <div class="header__description description">
        <h2> FORMEZ-VOUS AU METIERS <br> QUI RECRUTENT </h2>
        <p>Nous sommes une structure d'enseignement privée, nous proposons à nos candidats des <br> formations opérationnelles et concrètes dans des secteurs d'activités variés.</p>
    </div>
    <!--end description and title-->

    
    <!--header components-->

    <article class="header-components">
        <!--top components-->
        <div class="top-components">
            <div class="component">
                <span><i class="ri-code-box-line"></i></span>
                <h2>Informatique</h2>
                <p>Découvrez les métiers du design à travers nos formations et apprenez les fondamentaux du design d’interface.</p>
            </div>
            <div class="component">
                <span><i class="ri-edit-box-fill"></i></span>
                <h2>Design</h2>
                <p>Découvrez les métiers du design à travers nos formations et apprenez les fondamentaux du design d’interface.</p>
            </div>
            <div class="component">
                <span><i class="ri-bank-line"></i></span>
                <h2>Finance</h2>
                <p>Nos formations en finance vous permettront d’acquérir une culture économique et financière solide</p>
            </div>
        </div>
        <!--end top components-->

        <!--bottom components-->
        <div class="bottom-components">

            <div class="component">
                <span><i class="ri-megaphone-line"></i></span>
                <h2>Marketing</h2>
                <p>Trouvez votre formation marketing idéale parmi une large sélection de formations</p>
            </div>
            <div class="component">
                <span><i class="ri-hospital-line"></i></span>
                <h2>Santé</h2>
                <p>Découvrez toutes nos formations destinées aux professionnels médicaux et paramédicaux.</p>
            </div>
        </div>
        <!--end bottom components-->
    </article>
    <!--end header components-->

